{% extends 'base.html.twig' %}

{% block title %}Taste - Accueil{% endblock %}

{% block header %}
    <div class="background-title">
        {% include "_nav.html.twig" %}
        <h1>Taste</h1>
        <h2>Fast Good !</h2>
    </div>
    <hr>
{% endblock %}
{% block body %}
    <h1>Nos Services</h1>
    <hr>
    <div class="image-1">
        <div class="text-1">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
            </p>
            <a href="#">A propos de nous</a>
        </div>
    </div>
    <hr>
    <div class="image-2">
        <div class="text-2">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
            </p>
            <a href="#">Nos Cartes</a>
        </div>
    </div>
    <hr>
    <div class="image-3">
        <div class="text-3">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
            </p>
            <a href="#">Nos Cartes</a>
        </div>
    </div>
{% endblock %}
