{% extends 'static/layout.html.twig' %}

{% block title %} FAQ {% endblock %}

{% block stylesheets %}
    <link href="{{ 'style/faq.css' }}" rel="stylesheet">
    <link href="{{ 'style/footer.css' }}" rel="stylesheet">
    <link href="{{ 'style/nav.css' }}" rel="stylesheet">
{% endblock %}

{% block headerTitle %}
    <div class="home-title">
        <h1>Taste</h1>
        <h2 class="title">A propos de nous</h2>
    </div>
{% endblock %}

{% block main %}

    <h2 class="subtitle"> Qu'est ce que c'est ? </h2>
    <p class="text"> Taste, ce sont de bons et beaux plats savoureux, frais, fait maison
        dans de jolis emballages 100% PLA respectueux de l’environnement,
        mis à disposition à notre boutique située au 55, rue du commerce à Tours.

        Du simple sandwich pain boulanger (le fameux classique Jambon Beurre!!),
        en passant par nos petites salades composées, les plus grandes, nos plats du jour,
        mais aussi nos desserts et pâtisseries.
        Vous trouverez tout ce dont vous avez besoin pour vous restaurer au bureau, seul, entre collègues,
        ou simplement en repas de famille le soir en rentrant. </p>

    <h2 class="subtitle"> Et aussi... </h2>
    <p class="text"> Envie de régaler vos convives et faire de vos réceptions, mariages, baptêmes , anniversaires...
        un moment convivial et gustatif, découvrez notre service traiteur et événement.

        Du simple cocktail pour 10 personnes au séminaire de plus de 1000 personnes,
        nous vous proposons des formules gourmandes et variées suivant les produits de saison, vos envies et budget.

        Taste est là!
        Taster le goût du frais et fait avec Amour!

        Nos recettes savoureuses, faites avec amour par notre chef  Julien et son équipe, sauront ravir vos papilles...
        Nos services restaurant «Fast Good» et  traiteur, supervisés par Mathieu
        et son équipe, sauront vous faire passer un moment agréable et chaleureux,
        ainsi qu’embellir vos réceptions afin que ce moment soit inoubliable.

        Et le tour est joué! </p>

    <h2 class="subtitle"> Qui sommes nous ? </h2>
    <p class="text"> Julien et Mathieu, issus de la restauration traditionnelle et gastronomique, sont tous 2 passionnés de la bonne
        cuisine et attachés aux produits de leur terroir proche et aux valeurs que cela représente.

        Partageant déjà leur amitié depuis quelques années, ces 2 acolytes ce sont trouvés un projet en commun:
        celui de préparer de bons petits plats, cuisinés avec passion, avec des produits locaux,
        pouvant être consommés sur le pouce entre midi et 2, au bureau ou sur place directement.

        L’idée a germée ensuite de développer un service traiteur, fin, gastronome
        et faire partager un moment exeptionnel à ses clients. </p>
{% endblock %}
