{% extends 'static/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ 'style/footer.css' }}" rel="stylesheet">
    <link href="{{ 'style/nav.css' }}" rel="stylesheet">
    <link href="{{ 'style/news.css' }}" rel="stylesheet">
{% endblock %}
{% block title %}Taste - Accueil{% endblock %}

{% block main %}
    <div class="elfsight-app-fc822515-5d9a-4eb6-ae57-3e4a50af279f"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
{% endblock %}
