{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}
<header>
    <div class="image-title-home">
        {% include '_nav.html.twig' %}
        {% block headerTitle %}{% endblock %}
    </div>
</header>
{% endblock %}

{% block body %}
    {% block main %}{% endblock %}
{% endblock %}

{% block footer %}
    {% include '_footer.html.twig' %}
{% endblock %}
