{% extends 'static/layout.html.twig' %}

{% block stylesheets %}
  <link href="{{ 'style/partners.css' }}" rel="stylesheet"/>
  <link href="{{ 'style/footer.css' }}" rel="stylesheet">
  <link href="{{ 'style/nav.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Taste{% endblock %}
{% block headerTitle %}
<div class="home-title">
    <h1>Taste</h1>
    <h2 class="partners-title">Nos Partenaires</h2>
</div>
{% endblock %}


{% block main %}

  <div class="partner-body">

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, veritatis numquam. Nostrum reprehenderit sequi reiciendis, corrupti minima nesciunt, esse eaque aperiam fuga, natus dolore placeat inventore unde corporis. Iusto, architecto?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quo ducimus reiciendis eum. Fugiat magnam exercitationem aut earum repellat voluptate facilis nihil nam, expedita quo, officia neque consequuntur aperiam dolorum?
    </p>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="https://via.placeholder.com/500x400"></div>
          <div class="card_content">
            <h2 class="card_title">Nom du partenaire 1</h2>
            <p class="card_text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ut harum illo exercitationem possimus. oihdchdskhcjkdhckhdsjbcckh.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://placeholder.com">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="/images/pexels-kaboompics-com-6420.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Nom du partenaire 2</h2>
            <p class="card_text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque obcaecati, numquam impedit sapiente deserunt excepturi beatae ipsa.
              Lorem ipsum dolor sit amet.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://placeholder.com">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="https://via.placeholder.com/500x400"></div>
          <div class="card_content">
            <h2 class="card_title">Nom du partenaire 3</h2>
            <p class="card_text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem illum quaerat.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://placeholder.com">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="https://via.placeholder.com/500x400"></div>
          <div class="card_content">
            <h2 class="card_title">Nom du partenaire 4</h2>
            <p class="card_text">
              Lorem ipsum, dolor sit Enim sit aut adipisci itaque sed. Ad quaerat cupiditate iusto sequi.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://placeholder.com">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img"src="https://via.placeholder.com/500x400"></div>
          <div class="card_content">
            <h2 class="card_title">Nom du partenaire 5</h2>
            <p class="card_text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi odit fugit commodi! Voluptas nobis pariatur placeat obcaecati. khdkhckhdkbckdsbhckjh.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://placeholder.com">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="https://via.placeholder.com/500x400"></div>
          <div class="card_content">
            <h2 class="card_title">Nom du partenaire 6</h2>
            <p class="card_text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis natus iste, officiis quo esse vel blanditiis. Modi odit fugit commodi!
              Lorem ipsum, dolor sit amet.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://placeholder.com">Voir plus</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

{% endblock %}
