{% extends 'static/layout.html.twig' %}

{% block stylesheets %}
  <link href="{{ 'style/partners.css' }}" rel="stylesheet"/>
  <link href="{{ 'style/footer.css' }}" rel="stylesheet">
  <link href="{{ 'style/nav.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Taste{% endblock %}
{% block headerTitle %}
<div class="home-title">
    <h1>Taste</h1>
    <h2 class="partners-title">Nos Partenaires</h2>
</div>
{% endblock %}


{% block main %}

  <div class="partner-body">

    <p>
      Chez Taste restaurant et artisan traiteur nous mettons en avant nos différents collaborateurs qui nous sont d'un grand soutien et nous aident au quotidien à exercer notre activité dans les meilleures conditions.
      Voici quelques partenaires ..😉
    </p>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="/images/uber-eats.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Uber Eats</h2>
            <p class="card_text">
              Grace à Uber Eats vous pouvez commander et vous faire livrer à domicile les différents plats de notre carte.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://www.ubereats.com/fr/tours/food-delivery/taste-restaurant/oGuSK2w7SV20BqxVhmNnrg">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="/images/avelineprologo.png"></div>
          <div class="card_content">
            <h2 class="card_title">Aveline</h2>
            <p class="card_text">
              AVELINE est une entreprise de distribution basée en touraine qui accompagne les artisans et professionnels de la restauration.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://www.avelinepro.fr/">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="/images/oeufs.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">EARL Le Flèche</h2>
            <p class="card_text">
              Producteur d'œufs de poules de plein air situé à Ciran dans le département de l'Indre-et-Loire près de Tours. 
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://www.production-oeufs-indreetloire.fr/">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img" src="/images/deliveroo.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Deliveroo</h2>
            <p class="card_text">
              Deliveroo se charge de livrer à domicile les différents plats que vous aurez commandé chez nous en un clic.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://deliveroo.fr/fr/menu/tours/tours-centre-ville/plaisirs-du-palais">Voir plus</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img class="card-img"src="/images/"></div>
          <div class="card_content">
            <h2 class="card_title">Maison Rullier</h2>
            <p class="card_text">
              La Maison Rullier est spécialisée dans la location de matériels, pour les réceptions et la décoration éphémère.
            </p>
            <button class="btn card_btn" onclick=window.location.href="https://www.maison-rullier.com/">Voir plus</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

{% endblock %}
