<h1> Bonjour, bienvenue sur Taste </h1>

<p>
    Merci de cliquer sur le lien pour confirmation <br><br>
    <a href="{{ absolute_url(path('index')) }}"> confirmer mon email </a>.
    le mail expira dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Merci!
</p>
