body{
    margin: 0;
    padding: 0;
}

.border-caterer {
    border-bottom: 2px solid black;
    width: 25%;
    margin: auto auto 2vw auto;
}

.cocktail-caterer {
    display: flex;
}

.entree-caterer {
    display: flex;
}

.plate-caterer {
    display: flex;
}

.quote-caterer{
    background: grey;
    width: 25%;
    margin: auto;
}

.text-quote-caterer{
    text-align: center
}

p {
    text-align: center;
    align-self: center;
}