@import 'variables.css';
@import 'fontFamily.css';

/* Image background in header */
.image-title {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: url('../images/Restaurant.jpeg') no-repeat fixed center;
    min-height: 850px;
    background-size: cover;
}

/* Title in Header */
.home-title {
    padding: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: var(--color-title-header);
    background: var(--title-background-color) fixed center;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(2px);
    z-index: 10;
}

.title, .subtitle {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.subtitle {
    margin-top: 1em;
    margin-bottom: 1em;
}

.text {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}

@media screen and (max-width: 1000px) {
    .image-title {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../images/Restaurant.jpeg') no-repeat fixed center;
    }
}
