@import "variables.css";
@import "fontFamily.css";

/* Image background in header */
.image-title {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: url('../images/IMG_5061.JPG') no-repeat fixed center;
    min-height: 850px;
    background-size: cover;
}

/* Title in Header */
.home-title {
    padding: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: var(--color-title-header);
    background: var(--title-background-color) fixed center;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(2px);
    z-index: 10;
}



/* Section "Nos Services" */
.service {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
}

main {
    background-color: var(--main-background-color);
}

/* First Content "A propos de nous" */
.image-1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url('../images/IMG_20201112_102958_resized_20210202_034219768.jpg') no-repeat center;
    background-size: cover;
    min-height: 850px;
    margin-bottom: 50px;
    background-position: bottom;
}
.text-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    color: var(--text-color-about-us);
    background: var(--title-background-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(2px);
}

.text-1 p, .text-1 a {
    margin: 10px 20px;
}

.about-us {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 50px;
    padding: 10px 70px;
    background: var(--button-about-us-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(230, 150, 1);
    text-decoration: none;
    color: var(--text-color-about-us);
}

/* Second Content "Carte Restaurant" */
.image-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: url('../images/IMG_5063.JPG') no-repeat center ;
    background-size: cover;
    height: 400px;
    margin-bottom: 50px;
    border: solid 1px black;
}

.text-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    width: 600px;
    height: 250px;
    color: var(--text-color-about-us);
    background: var(--title-background-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(2px);
}

.text-2 p, .text-2 a {
    margin: 10px 20px;
}

/* Third Content " Page Traiteur " */
.image-3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url('../images/IMG_20191221_191115_resized_20210202_034118068.jpg') no-repeat center ;
    background-size: cover;
    height: 500px;
    border: solid 1px black;
}

.text-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    width: 600px;
    height: 250px;
    color: var(--text-color-about-us);
    background: var(--title-background-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(2px);
}

.text-3 p, .text-3 a {
    margin: 10px 20px;
}

.text-1, .text-2, .text-3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

