@import 'variables.css';
@import 'fontFamily.css';

main {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background: url('../images/login.jpeg') no-repeat fixed center;
    background-size: cover;
}

@keyframes button {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(359deg); }
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}


.login {
    border-radius: 2px 2px 5px 5px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    padding: 10px 20px 80px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;
}

.title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    padding-bottom: 20px;
    text-align: center;
}

button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: blue;
    color: #fff;
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}

.spinner {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 4px solid #ffffff;
    border-top-color: rgba(255,255,255,0.3);
    border-radius: 100%;
    left: 50%;
    top: 0;
    opacity: 0;
    margin-left: -20px;
    margin-top: -20px;
    animation: spinner 0.6s infinite linear;
    transition: top 0.3s 0.3s ease,
    opacity 0.3s 0.3s ease,
    border-radius 0.3s ease;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.password-lost {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
