@import 'variables.css';


/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Image background in header */
.image-title {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: url('../images/partner.jpg') no-repeat fixed center;
  min-height: 850px;
  background-size: cover;
}

/* Title in Header */
.home-title {
  padding: 100px;
  text-align: center;
  font-family: 'Arial';
  color: var(--color-title-header);
  background: var(--title-background-color) fixed center;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
  z-index: 10;
}

body{
  background-color: #a2c433;
}
/* Body */
.partner-body{
  max-width: 1200px;
  margin: 0 auto;
  background-color: whitesmoke;
  color: var(--primary-partner-color);
  font-family: 'Arial';
  font-style: normal;
  padding: 2.5rem;
  text-align: justify;
}

 .partner-body > p{
  padding-left: 3rem;
  padding-right: 3rem;
}



.card-img{
  width: 60vh;
  height: 40vh;
  vertical-align: middle;
}

.btn {
  color: var(--color-text-nav);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--color-text-nav);
  background-color: var(--nav-background-color);
}

.btn:hover {
  background-color: #a2c433;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 1.5rem;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media screen and (min-width: 36rem) {
  .cards_item {
    width: 100%;
  }
}

@media screen and (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.33%;
  }
}

.card {
  background-color: var(--main-partner-color);
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px var(--shadow-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: #ccc;
}

.card_title {
  color: var(--color-text-nav);
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

.card_text {
  color: var(--color-text-nav);
  font-size: 16px;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  text-align: justify;
}

.card:hover{
    transform: scale(1.02);
    transition: 0.6s;
    box-shadow: 0 4px 6px 0 var(--main-partner-color);
}
