@import 'variables.css';
@import 'fontFamily.css';



/* Image background in header */
.image-title {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: url('../images/partner.jpg') no-repeat fixed center;
  min-height: 850px;
  background-size: cover;
}

/* Title in Header */
.home-title {
  padding: 100px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: var(--color-title-header);
  background: var(--title-background-color) fixed center;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
  z-index: 10;
}
/* Body */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #99b63b;
}

.partner-body{
  margin: 0 auto;
  color: var(--primary-partner-color);
  font-style: normal;
  padding: 2.5rem;
  text-align: justify;
}

 .partner-body > p{
  font-family: 'Raleway', sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 1rem;
}

/* Card */
.card-img {
  width: 500px;
  height: 400px;
  vertical-align: middle;
  object-position: center;
  object-fit: cover;
}

.btn {
  color: grey;
  padding: 0.8rem;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid grey;
  background: transparent;
  transition: background-color .5s, border .5s;
}

.btn:hover {
  background-color: #dadfe1;
  border: none;
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.cards_item {
  display: flex;
  margin: 1em 5px;
}

.card {
  background-color: var(--main-partner-color);
  border-radius: 0.5rem;
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform .5s;
}

.card:hover {
  transform: scale(1.02);
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--background-content);
}

.card_title {
  color: rgb(105, 102, 102);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-style: italic;
}

@media (max-width: 450px){
  .cards_item {
    margin: 0.5em 3px;
  }

  .card-img {
    width: 200px;
    height: 150px;
  }
}
