:root {
    /* VARIABLE FOR NAVBAR */
    --nav-background-color: rgba(196, 196, 196, 0.9);

    /* VARIABLE FOR PAGE*/
    --color-title-header: #fff;
    --color-text-nav: rgb(99, 96, 96);
    --title-background-color: rgba(136, 132, 132, 0.5);
    --button-about-us-color: #;
    --text-color-about-us: #fff;
    --main-background-color: #94AC00;
    --body-background-color: #BADA55;
    --font-color-blue: #5c97bf;
    --background-content: #f0f0d6;

    /* VARIABLE FOR PARTNER PAGE*/
    --main-partner-color: white;
    --primary-partner-color: black;
    --secondary-partner-color: rgba(255, 255, 255, 0.2);
    --shadow-color: rgb(53, 52, 52);
}
