@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background-title {
    background: url('https://via.placeholder.com/150') no-repeat;
    height: 150px;
}

.image-1 {
    background: url('https://via.placeholder.com/150') no-repeat;
    height: 150px;
}

.image-2 {
    background: url('https://via.placeholder.com/150') no-repeat;
    height: 150px;
}

.image-3 {
    background: url('https://via.placeholder.com/150') no-repeat;
    height: 150px;
}
