$primary: darken(#428bca, 20%);

/* Image background in header */
.image-title {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: url('/images/caterer/image--002.jpg') no-repeat fixed center;
  min-height: 850px;
  background-size: cover;
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.6);

  border: none;
}

/* Title in Header */
.home-title {
  padding: 100px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: var(--color-title-header);
  background: var(--title-background-color) fixed center;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
  z-index: 10;
}

$white: #fff;
$grey: #ccc;
$dark_grey: #455;
$blue: #4f6fad;
$pink: #ee9cb4;

@mixin btn($color) {
  background-color: $color;
  border-bottom-color: darken($color, 15%);
  &:hover {
      background-color: lighten($color, 5%);
    }
}

@function pxtoem($target, $context){
  @return ($target/$context)+0em;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: darken($color: #BADA55, $amount: 20%);
  font-size: 100%;
}

input,
label {
  position: relative;
  display: inline-block;
}

label {
  display: inline-block;
  margin: 0 0 2px 0;
  padding: 0 0 5px 0;
  transition: all 0.5s ease-in-out; 
  z-index: 1;
  top: 36px;
}

.labelI {
  margin-bottom: 36px;
}

.filled label {
	top: 0;
	font-size: 0.8em;
} 

input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {
  font-size: 1.25em;
  padding: 0 0 5px 0;
  z-index: 10;
  background: transparent;
  margin-bottom: 0.5em;
  border: none;
  border-bottom: 1px solid grey;
}

input[type="date"] {
  top: 31px;
}

.cocktail-caterer {
  display: flex;
  margin-top: 100px;
  background-color: lightgray;
  margin-bottom: 60px;
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.6);
}

.entree-caterer {
  display: flex;
  background-color: lightgray;
  margin-bottom: 60px;
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.6);
}

.plate-caterer {
  display: flex;
  background-color: lightgray;
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.6);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.event {
  align-self: center;
}

p {
  text-align: center;
  align-self: center;
  margin: 0 100px;
}

.container {  
  width: 800px;
  margin: 50px auto 50px;
  background-color: $white;
  border-bottom: 3px solid $grey;
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.58);
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5rem;
  &.header {
    padding: 4em 5em;
    border-bottom: 1px solid $grey; 
    background: url(/images/caterer/image--001.jpg);
    color: $white;
  }
  &.body {
    padding: .5em 2.5em 1em;
  }
}

.A {
  grid-area: A;
}

.B {
  grid-area: B;
}

.C {
  grid-area: C;
}

.D {
  grid-area: D;
}

.E {
  grid-area: E;
}

.F {
  grid-area: F;
}

.G {
  grid-area: G;
}

.H{
  grid-area: H;
}

.border {
  grid-area: border;
}

.I {
  grid-area: I;
  display: flex;
  justify-content: center;
}

.A, .B, .C, .D, .E, .F, .G, .H, .I {
  display: flex;
  flex-direction: column;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px 10px;
  grid-template-areas: 
    "A B"
    "C D"
    "E F"
    "G H"
    "border border"
    "I I";
}

div, textarea, input {
  box-sizing: border-box; 
}

textarea {
  resize: vertical;
}

.btn {
  font-size: pxtoem(17, 16);
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0;
  color: $white;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  margin-left: 80%;
  @include btn(darken($grey, 10%));
  &.btn-submit {
    @include btn(#94AC00)
  }
}