<footer class="contenuFooter">
    <div class="bloc footerSommaire">
        <ul class="listPages">
            <li>
                <iframe width="200" height="200"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=0.6825135027793295%2C47.3942452046221%2C0.6854102885154135%2C47.39569413015929&amp;layer=transportmap&amp;marker=47.39496967237069%2C0.6839618956473714">
                </iframe>
            </li>
        </ul>
    </div>
    <div class="bloc footerContact">
        <h3>Restons en Contact!</h3>
        <p>09 53 03 74 69</p>
        <p>55 rue du Commerce, Tours, 37000</p>
        <p>Lundi au Vendredi de 10h30 à 21h00</p>
    </div>
    <div class="bloc footerSociaux">
        <h3>Nos Réseaux</h3>
        <ul class="listSociaux">
            <li>
                <a href="https://www.instagram.com/taste_restaurant37" target="_blank"><img src="/images/instagram.png" alt="icone réseaux sociaux" width="40" /></a>
            </li>
            <li>
                <a href="https://www.facebook.com/Tasterestauranttours" target="_blank"><img src="/images/facebook.png" alt="icone réseaux sociaux" width="40"/></a>
            </li>
            <li>
                <a href="{{ path('CGU') }}">- Conditions générales d'utilisation </a>
            </li>
            <li>
                <a href="{{ path('a-propos') }}">- A propos de nous </a>
            </li>
        </ul>
    </div>
</footer>
