{% extends 'base.html.twig' %}

{% block title %}Taste{% endblock %}

{% block body %}
<h1>Nos Partenaires</h1>

<hr>

<div class="partner1">
    <img src="https://via.placeholder.com/450x200/FF000/FFFFFF">
    <div class="text-1">
        <p>
            <h2>Partner1</h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
        </p>
        <a href="#">partner-1</a>
     </div>
 </div>

 <hr>

 <div class="image-2">
    <img src="https://via.placeholder.com/450x200/0000FF/80808080">
     <div class="text-2">
         <p>
            <h2>Partner2</h2>
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
        </p>
        <a href="#">partner-2</a>
     </div>
 </div>

 <hr>

 <div class="image-3">
    <img src="https://via.placeholder.com/450x200/FFFF00/000000">
     <div class="text-3">
         <p>
            <h2>Partner3</h2>
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, nesciunt.
        </p>
        <a href="#">partner-3</a>
    </div>
</div>
{% endblock %}